@use "../../app/styles/variables" as *;

.movie-details-page {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  &__loader {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}
