@use "../../../app/styles/variables" as *;

.movies-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: $space-4;
  margin: 0 auto;
  padding: $space-4 0;
  width: 100%;
  box-sizing: border-box;

  &__item {
    display: flex;
    justify-content: center;
    height: 100%;
    min-width: 0;
  }

  &--empty {
    text-align: center;
    margin-top: 32px;
  }

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1296px) {
    grid-template-columns: repeat(5, 1fr);
  }
}
