@use "../../app/styles/variables" as *;

.movies-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: $max-content-width;
  margin: 0 auto;
  text-align: center;
  padding: $space-4;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    margin-bottom: $space-4;
    justify-content: center;
    align-items: center;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: $space-6;
  }
}
