@use "../../app/styles/variables" as *;

.movies-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: $max-content-width;
  margin: 0 auto;
  text-align: center;
  padding: $space-4;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    margin-bottom: $space-4;
    justify-content: center;
    align-items: center;
  }

  &__search {
    display: flex;
    flex-direction: column;
    gap: $space-1;
    width: 100%;
    margin: $space-4 0 $space-2;
    align-items: center;

    label {
      font-size: $text-sm;
      align-self: flex-start;
      padding-left: $space-1;
      font-weight: 500;
      font-style: italic;
    }

    input {
      flex: 1;
      width: 100%;
      padding: $space-3 $space-4;
      border-radius: $radius-md;
      border: 1px solid rgba(13, 37, 63, 0.5);
      font-size: $text-md;
      color: $color-ink;

      &:focus {
        outline: 2px solid $color-ink;
      }

      &::-webkit-search-cancel-button {
        cursor: pointer;
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: $space-6;
  }
}
